<%= render "shared/second-header" %>

<%= form_with model: resource, url: session_path(resource_name), local: true, class: "registration-main" do |f| %>
  <div class="form-wrap">
    <div class="form-header">
      <h1 class="form-header-text">会員情報入力</h1>
    </div>

    <% if flash[:alert] %>
      <div class="login-flash-message"><%= flash[:alert] %></div>
    <% end %>

    <% if flash[:notice] %>
      <div class="login-flash-message"><%= flash[:notice] %></div>
    <% end %>

    <div class="form-group">
      <div class="form-text-wrap">
        <%= f.label :email, "メールアドレス", class: "form-text" %>
        <span class="indispensable">必須</span>
        <%= f.email_field :email, id: "user_email", autofocus: true, autocomplete: "email", class: "input-default" %>
      </div>
    </div>

    <div class="form-group">
      <div class="form-text-wrap">
        <%= f.label :password, "パスワード", class: "form-text" %>
        <span class="indispensable">必須</span>
        <%= f.password_field :password, id: "user_password", autocomplete: "current-password", class: "input-default" %>
      </div>
    </div>

    <div class="login-btn">
      <%= f.submit "ログイン", class: "login-red-btn" %>
    </div>
  </div>
<% end %>

<%= render "shared/second-footer" %>